<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <mvc:annotation-driven />

    <context:annotation-config />

    <context:component-scan base-package="com.tsupryk"/>

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <context:property-placeholder location="classpath:app.properties" />

    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="0" />
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="pdf" value="application/pdf" />
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
                <bean id="availableTicketsPdfReport" class="org.springframework.web.servlet.view.jasperreports.JasperReportsPdfView"
                      p:url="classpath:templates/availableTickets.jrxml"
                      p:reportDataKey="datasource" />
                <bean id="bookedTicketsPdfReport" class="org.springframework.web.servlet.view.jasperreports.JasperReportsPdfView"
                      p:url="classpath:templates/bookedTickets.jrxml"
                      p:reportDataKey="datasource" />
                <bean id="bookingTicketsPdfReport" class="org.springframework.web.servlet.view.jasperreports.JasperReportsPdfView"
                      p:url="classpath:templates/book.jrxml"
                      p:reportDataKey="datasource" />
            </list>
        </property>
    </bean>

</beans>
